@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  min-height: 100vh;
}

:root {
  --font-size: calc(18px + 0.698vw); /* The character count on */
  --line-height: calc(var(--font-size) * 1.4);
  --letter-spacing: calc(var(--font-size) * 0.0015);
  --color-primary: #1e1e20;
  --color-secondary: #252529;
  --color-tertiary: #161618;
  --color-tetra: #dfdfd7;
  --color-penta: #4d4d4d;
  --color-hexa: #858585;
  --color-red: red;
  --color-green: green;
}

p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-feature-settings: normal;
  font-family: var(--font-family);
}

p {
  font-weight: calc(var(--font-weight) * 1.33);
}

h2 {
  font-size: calc(var(--font-size) * 2);
  letter-spacing: var(--letter-spacing);
  font-weight: calc(var(--font-weight) * 2.33);
  font-family: var(--font-family);
}

@font-face {
  font-family: Inter var;
  src: url("/fonts/inter-roman-latin.2ed14f66.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Rza";
  src: url("https://www.upwork.com/static/fonts-global/4.0.1/rza-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/googlesans/v46/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vgCIhM907w.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Product Sans Bold";
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/googlesans/v46/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IKlh.woff") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/fonts/LEMONMILK-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans-500-latin4.82c42c7.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.header {
  background-color: var(--color-primary);
  padding: 15px;
  border-bottom: 1px solid var(--color-secondary);
  position: sticky;
  top: 0;
  z-index: 999;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__wrapper__brand {
  display: flex;
}
.header__wrapper__brand__logo {
  width: 3em;
  height: auto;
}
.header__wrapper__brand__name {
  margin: 4px;
  color: var(--color-tetra);
  font-family: Product Sans;
  font-weight: 400;
  font-size: 1.5em;
}

#home {
  padding: 0px;
}

.main {
  padding: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
  position: relative;
}
.main__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
@media (max-width: 900px) {
  .main__wrapper {
    flex-direction: column-reverse;
  }
}
.main__wrapper__intro {
  display: flex;
  flex-direction: column;
}
.main__wrapper__intro__brandname {
  font-family: "Lemon Milk";
  color: #4d4d4d;
}
.main__wrapper__intro__description {
  color: var(--color-tetra);
  font-family: Product Sans;
}
.main__wrapper__intro__author {
  font-family: "Roboto Mono", monospace;
  color: var(--color-hexa);
  font-size: 14px;
}
.main__wrapper__intro__startbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-penta);
  outline: none;
  width: 130px;
  height: 40px;
  padding: 10px;
  border: none;
  color: var(--color-tetra);
  font-family: Product Sans;
  border-radius: 100px;
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.7;
}
.main__wrapper__intro__startbtn:hover {
  background: var(--color-hexa);
  transition: all 1s ease;
  color: var(--color-tertiary);
}
.main__wrapper__logowrapper {
  width: 300px;
}
.main__wrapper__logowrapper__logo {
  width: 100%;
  position: relative;
}

.onboarding__wrapper__btns__primary:hover, .onboarding__wrapper__btns__secondary:hover {
  background: var(--color-hexa);
  transition: all 0.5s ease;
  color: var(--color-tertiary);
}

.onboarding__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onboarding__wrapper__btns__primary, .onboarding__wrapper__btns__secondary, .onboarding__wrapper__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onboarding__wrapper {
  margin: 10px;
  gap: 40px;
}
.onboarding__wrapper__container {
  width: 100%;
  border-radius: 16px;
  justify-content: space-around;
  padding: 40px;
  height: 60vh;
}
.onboarding__wrapper__btns {
  display: flex;
  gap: 20px;
}
.onboarding__wrapper__btns__primary, .onboarding__wrapper__btns__secondary {
  background: var(--color-penta);
  outline: none;
  width: 130px;
  height: 40px;
  padding: 10px;
  border: none;
  color: var(--color-tetra);
  font-family: Product Sans;
  border-radius: 100px;
  margin-top: 20px;
  font-size: 15px;
  opacity: 0.7;
}
.product_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#product_card {
  background-color: var(--color-tertiary);
  border-radius: 16px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#img_bg {
  width: 140px;
  height: 140px;
  border-radius: 1000px;
  background-color: var(--color-primary);
}

#productimg {
  width: 12em;
  transform: rotate(-30deg);
  position: relative;
  top: 20px;
  left: -32px;
}

#product_info {
  margin: 0;
  text-align: center;
}

#product_name {
  font-size: 30px;
  color: var(--color-penta);
  font-family: Product Sans Bold;
  font-weight: 500;
}

#product_description {
  font-size: 16px;
  font-family: Product Sans;
  color: var(--color-tetra);
}

#product_description__secondary {
  font-size: 16px;
  font-family: Product Sans;
  color: var(--color-tetra);
}

#product_price {
  font-family: Product Sans Bold;
  color: var(--color-tetra);
}

#product_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

#primarybtn {
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 1000px;
  font-family: Product Sans;
}

#secondarybtn {
  background: none;
  outline: none;
  border: none;
  color: var(--color-tetra);
}

#loading-message, #copy-message, #error-message {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 999;
  bottom: 130px;
  left: -16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 2s ease-in;
}

.message {
  font-family: Product Sans;
}
.message__error {
  color: var(--color-red);
}
.message__success {
  color: var(--color-green);
}
.message__load {
  color: var(--color-hexa);
}

.loading_fade {
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */