@use "breakpoints" as *;
.onboarding__wrapper {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    @include breakpoint(900px) {
      flex-direction: column-reverse;
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: 12px;
      background-color: var(--color-tertiary);
      padding: 40px;
      border-radius: 16px;
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 16px;
      box-sizing: border-box;
      margin: 20px;
      @include breakpoint(900px) {
        transform: scale(0.7);
      }
    }
  }
}
