@use "fonts" as *;

.imgcard {
  width: 12em;
}

.onboardingwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  width: 100%;
  gap: 30px;
  height: 100%;
  &__styleone {
    background-color: var(--color-tertiary);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    &__dis {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__txt {
        color: var(--color-tetra);
        font-family: $font-secondary;
        font-weight: 999;
        text-align: center;
        text-transform: uppercase;
      }
      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-penta);
        outline: none;
        width: 100px;
        height: 35px;
        padding: 10px;
        border: none;
        color: var(--color-tetra);
        font-family: $font-secondary;
        border-radius: 100px;
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
  &__styletwo {
    @extend .onboardingwrapper__styleone;
    &__dis {
      @extend .onboardingwrapper__styleone__dis;
      &__txt {
        @extend .onboardingwrapper__styleone__dis__txt;
      }
      &__btn {
        @extend .onboardingwrapper__styleone__dis__btn;
      }
    }
  }
  &__stylethree {
    @extend .onboardingwrapper__styleone;
    &__dis {
      @extend .onboardingwrapper__styleone__dis;
      &__txt {
        @extend .onboardingwrapper__styleone__dis__txt;
      }
      &__btn {
        @extend .onboardingwrapper__styleone__dis__btn;
      }
    }
  }
}
