:root {
  --font-size: calc(18px + 0.698vw); /* The character count on */
  --line-height: calc(var(--font-size) * 1.4);
  --letter-spacing: calc(var(--font-size) * 0.0015);
  --color-primary: #1e1e20;
  --color-secondary: #252529;
  --color-tertiary: #161618;
  --color-tetra: #dfdfd7;
  --color-penta: #4d4d4d;
  --color-hexa: #858585;
  --color-red: red;
  --color-green: green;
}
