:root {
  --color-primary: #1e1e20;
  --color-secondary: #252529;
  --color-tertiary: #161618;
  --color-tetra: #dfdfd7;
  --color-penta: #4d4d4d;
  --color-gradient: linear-gradient(
    140deg,
    rgba(78, 86, 163, 1) 0%,
    rgba(244, 246, 248, 1) 90%
  );
}
