@use "../globals/fonts" as *;
#loading-message {
  position: absolute;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 80px;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 2s ease-in;
}
#error-message {
  position: absolute;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 80px;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 2s ease-in;
}
#copy-message {
  position: absolute;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 80px;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 2s ease-in;
}
.message {
  font-family: $font-secondary;
  &__error {
    color: red;
  }
  &__success {
    color: green;
  }
  &__load {
    color: #858585;
  }
}
.loading_fade {
  animation: fade-in 1s ease;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
