@use "../globals/fonts" as *;
.header {
  background-color: var(--color-primary);
  padding: 15px;
  border-bottom: 1px solid var(--color-secondary);
  position: sticky;
  top: 0;
  z-index: 999;
  &__wrapper {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    &__brand {
      display: flex;
      &__logo {
        width: 3em;
        height: auto;
      }
      &__name {
        margin: 4px;
        color: var(--color-tetra);
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 1.5em;
      }
    }
  }
}
