@use "../globals/fonts" as *;
.onboarding {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__container {
    height: 70vh;
    padding: 20px;
    border: 2px solid var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 350px;
    border-radius: 1rem;
    &__input_row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      justify-content: center;
    }
  }
}
input[type="text"] {
  background: none;
  border: 1.5px solid var(--color-secondary);
  border-radius: 0.6rem;
  height: 48px;
  width: 220px;
  color: var(--color-hexa);
  font-family: $font-secondary;
  padding: 0px 10px;
  &:focus {
    border: 1px solid var(--color-hexa);
    outline: none;
    color: var(--color-hexa);

    font-family: $font-secondary;
    padding: 0px 10px;
  }
}

.next {
  background: var(--color-penta);
  outline: none;
  width: 130px;
  height: 40px;
  padding: 10px;
  border: none;
  color: var(--color-tetra);
  font-family: $font-secondary;
  border-radius: 100px;
  margin-top: 20px;
  font-size: 15px;
  opacity: 0.7;
  &:hover {
    background: var(--color-hexa);
    transition: all 0.5s ease;
    color: var(--color-tertiary);
  }
}
