@use "breakpoints" as *;
@use "../globals/fonts" as *;
.product_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#product_card {
  width: 600px;
  background-color: var(--color-tertiary);
  border-radius: 16px;
  display: flex;
  padding: 20px 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  @include breakpoint(900px) {
    flex-direction: column;
    width: 260px;
    padding: 30px 20px;
  }
}
#img_bg {
  width: 130px;
  height: 130px;
  border-radius: 1000px;
  background-color: var(--color-primary);
}
#productimg {
  width: 13em;
  transform: rotate(-30deg);
  position: relative;
  top: 16px;
  left: -51px;
}
#product_info {
  margin: 0;
  text-align: center;
}
#product_name {
  font-size: 30px;
  color: var(--color-penta);
  font-family: $font-hepta;
  font-weight: 500;
}
#product_description {
  font-size: 16px;
  font-family: $font-secondary;
  color: var(--color-tetra);
}
#product_description__secondary {
  font-size: 16px;
  font-family: $font-secondary;
  color: var(--color-tetra);
}
#product_price {
  font-family: $font-hepta;
  color: var(--color-tetra);
}
#product_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}
#primarybtn {
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 1000px;
  font-family: $font-secondary;
}
#secondarybtn {
  background: none;
  outline: none;
  border: none;
  color: var(--color-tetra);
}
